.avatar {
  height: 50px;
  width: 50px;
  background-color: rgb(20, 114, 236);
  font-size: 150%;
  color: #ffffff;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}